<div class="flex flex-col items-center mx-auto w-full">
<h1 class="text-4xl font-bold mb-4">Public recipes</h1>
<ul class="space-y-4 gap-4">
  <% @public_recipes.each do |recipe| %>
    <div class="mb-4">
  <%= link_to recipe_path(recipe) do %>
    <li class="flex bg-white rounded-lg overflow-hidden shadow-md w-full">
      <div class="flex flex-col p-4 w-1/2 truncate">
        <h2 class="text-xl text-blue-500 font-semibold mb-2"><%= recipe.name %></h2>
        <p class="text-gray-500">by <%= recipe.user.name %></p>
      </div>
      
      <div class="flex-1 p-4">
        <p class="text-gray-700 whitespace-nowrap ">Total Food Items: <%= recipe.foods.size %></p>
        <p class="text-gray-700 whitespace-nowrap ">Total Price: <%= recipe.foods.sum{|food| food.price*food.quantity}%> $</p>
      </div>
    </li>
    <% end %>
    </div>
  <% end %>
</ul>
</div>