<div class="p-4 bg-gray-100">
  <h1 class="font-bold text-4xl mb-4"><%= @recipe.name %></h1>
  <div class="flex">
    <div class="flex flex-col w-3/5">
      <h2 class="mb-4">Preparation time: <%= @recipe.preparation_time %> <span class="text-gray-500">minutes</span></h2>
      <h2 class="mb-4">Cooking time: <%= @recipe.cooking_time %> <span class="text-gray-500">minutes</span></h2>
      <p class="mb-4"><%= @recipe.description %></p>
    </div>
    <div class="w-2/5 items-center">
      <%= form_with(model: @recipe, url: recipe_path(@recipe), method: :patch) do |form| %>
  <label for="toggle-public" class="flex items-center cursor-pointer relative mb-4">
    <%= form.check_box :public, class: "sr-only", id: "toggle-public", onchange: 'this.form.submit()' %>
    <div class="toggle-bg bg-gray-200 border-2 border-gray-200 h-6 w-11 rounded-full"></div>
    <span class="ml-3 text-gray-900 text-sm font-medium">Public</span>
  </label>
<% end %>

    </div>
  </div>
  <div class="flex justify-evenly">
    <%= link_to 'Generate Shopping List',shopping_lists_path(recipe_id: @recipe.id), class: 'py-2 px-4 bg-green-500 text-white rounded-md hover:bg-green-600 focus:outline-none focus:ring focus:border-green-700' %>
      

    <%= link_to 'Add Ingredient', new_recipe_recipe_food_path(@recipe), class:'ml-4 py-2 px-4 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-700' %>
  </div>
  <table class="min-w-full divide-y divide-gray-200 mt-4">
    <thead>
      <tr>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Food</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Quantity</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Value</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @recipe.recipe_foods.each do |ingredient|%>
        <tr>
          <td class="py-2 px-4"><%= ingredient.food.name %></td>
          <td class="py-2 px-4"><%= ingredient.quantity %> <%= ingredient.food.measurement_unit %></td>
          <td class="py-2 px-4"><%= number_to_currency(ingredient.food.price * ingredient.quantity) %></td>
          <td class="py-2 px-4">
            <%= button_to "Delete", recipe_recipe_food_path(@recipe, ingredient), method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: "text-red-500 hover:underline" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


